<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Reports</a></li>
    </ul>
    &copy; Copyright {{ "now"|date("Y") }} by <a href="https://www.facebook.com/LemckeWebSolutions">Lemcke WebSolutions</a>.
</div>